<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csen704"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="Facebook Login" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".activity.FacebookActivity"
            android:label="@string/title_activity_facebook" >
        </activity>
        <activity
            android:name=".activity.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.csen704.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CreateCourseActivity"
            android:label="@string/title_activity_create_course" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.csen704.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.CreateAnnouncementActivity"
            android:label="@string/title_activity_create_announcement" >
        </activity>
        <activity
            android:name=".CreateReminderActivity"
            android:label="@string/title_activity_create_reminder" >
        </activity>
        <activity
            android:name=".activity.BrowseCoursesActivity"
            android:label="@string/title_activity_browse_courses"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.csen704.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.example.csen704.activity.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
    </application>

</manifest>
